* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.tela {
    width: 400px;
    height: 400px;
    background-color: #3FAF82;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.vareta1, .vareta2, .vareta3 {
    background-color: #fff;
    width: 80px;
    height: 8px;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    transform-origin: center;
    margin: 15px;
}

.vareta1 {
    z-index: 10;
}

.vareta2 {
    z-index: 6;
}

.vareta3 {
    z-index: 8;
}

input {
    position: absolute;
    height: 67px;
    width: 85px;
    appearance: none;
    cursor: pointer;
    z-index: 100;
}

input:checked ~ .varetas {
    .vareta1 {
        animation: transicao-vareta1 0.7s forwards;
    }

    .vareta2 {
        animation: transicao-vareta2 0.35s forwards;
    }

    .vareta3 {
        animation: transicao-vareta3 0.7s forwards;
    }
}

input:not(:checked) ~ .varetas {
    .vareta1 {
        animation: transicao-reversa-vareta1 0.7s forwards;
    }

    .vareta2 {
        animation: transicao-reversa-vareta2 0.7s forwards;
    }

    .vareta3 {
        animation: transicao-reversa-vareta3 0.7s forwards;
    }
}

@keyframes transicao-vareta1 {
    0% {
        transform: translateY(0%) rotate(0deg);
    }

    50% {
        transform: translateY(23px) rotate(0deg);
    }

    100% {
        transform: translateY(23px) rotate(-135deg);
    }
}

@keyframes transicao-reversa-vareta1 {
    0% {
        transform: translateY(23px) rotate(135deg);
    }

    50% {
        transform: translateY(23px) rotate(0deg);
    }

    100% {
        transform: translateY(0%) rotate(0deg);
    }
}

@keyframes transicao-vareta2 {
    0% {
        scale: 1;
        opacity: 1;
    }

    100% {
        scale: 0;
        opacity: 0;
    }
}

@keyframes transicao-reversa-vareta2 {
    0%, 50% {
        scale: 0;
        opacity: 0;
    }

    100% {
        scale: 1;
        opacity: 1;
    }
}

@keyframes transicao-vareta3 {
    0% {
        transform: translateY(0%) rotate(0deg);
    }

    50% {
        transform: translateY(-23px) rotate(0deg);
    }

    100% {
        transform: translateY(-23px) rotate(135deg);
    }
}

@keyframes transicao-reversa-vareta3 {
    0% {
        transform: translateY(-23px) rotate(-135deg);
    }

    50% {
        transform: translateY(-23px) rotate(0deg);
    }

    100% {
        transform: translateY(0%) rotate(0deg);
    }
}